$cHeader: #350D36;
$cHeaderSearch: #49254A;
$cMain: #3f0e40;
$cWhite: white;
$cBorder: #edf0f46d;
$cText: #CBBFCB;

.l-header {
    height: 40px;
    border-bottom: 1px solid #4A254B;
    background-color: $cHeader;

    & .p-header {
        display: block;
        height: 100%;
        width: 100%;
        cursor: pointer;
        text-align: center;
        padding: 8px 0 8px;

        & button {
            height: 24px;
            width: 40%;
            min-width: 272px;
            max-width: 560px;
            color: $cText;
            border: 1px solid $cBorder;
            border-radius: 4px;
            background-color: $cHeaderSearch;
            padding: 0;
        }
    }
}

.l-sidebar {
    color: $cWhite;
    background-color: $cMain;
    min-width: 200px;
    max-width: 260px;
    height: 100vh;
    line-height: 1.5rem;
    color: #CBBFCB;

    & .l-sidebar-header {
        border-bottom: 1px solid rgb(82,38,83);
        padding: 16px 16px 8px 20px;

        & h2 {
            color: $cWhite;
        }

        & .l-sidebar-username {
            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #2BAC76;
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }

    & .l-sidebar-nav {
        padding: 16px 16px 8px 20px;
        cursor: pointer;
    }
}

.c-channel-name {
    font-weight: 600;
}