.p-content-header {
  height: 44px;
  border-bottom: 1px solid #522653;
  padding: 16px 16px 8px 20px;
}

.l-header {
  height: 40px;
  border-bottom: 1px solid #4A254B;
  background-color: #350D36;
}

.l-header .p-header {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 8px 0 8px;
}

.l-header .p-header button {
  height: 24px;
  width: 40%;
  min-width: 272px;
  max-width: 560px;
  color: #CBBFCB;
  border: 1px solid #edf0f46d;
  border-radius: 4px;
  background-color: #49254A;
  padding: 0;
}

.l-sidebar {
  color: white;
  background-color: #3f0e40;
  min-width: 200px;
  max-width: 260px;
  height: 100vh;
  line-height: 20px;
  color: #CBBFCB;
}

.l-sidebar .p-content-header h2 {
  color: white;
}

.l-sidebar .p-content-header .l-sidebar-username::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2BAC76;
  vertical-align: middle;
  margin-right: 8px;
}

.l-sidebar .l-sidebar-nav {
  padding: 16px 16px 8px 20px;
  cursor: pointer;
  line-height: 2em;
  border-bottom: 1px solid #522653;
}

.l-sidebar .l-sidebar-nav li:hover {
  background-color: #350D36;
}

.c-channel-name {
  font-weight: 600;
}
