$cHeader: #350D36;
$cHeaderSearch: #49254A;
$cMainBG: #3f0e40;
$cMainActivate: #350D36;
$cWhite: white;
$cBorder: #edf0f46d;
$cContentBorder: rgb(82,38,83);
$cText: #CBBFCB;

$mainHeaderHeight: 38px;
$contentHeaderHeight: 44px;
$sideBarMinWidth: 200px;
$sideBarMaxWidth: 260px;

#container {
    display: grid;
    grid-template-columns: minmax(#{$sideBarMinWidth}, max-content) 1fr;
    grid-template-rows: #{$mainHeaderHeight} auto min-content;

    & .l-header {
        grid-column-start: 1;
        grid-column-end: 3;

        grid-row-start: 1;
        grid-row-end: 2;

        background-color: $cHeader;

        z-index: 203;

        & .p-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    & .l-sidebar {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 2;
        grid-row-end: auto;

        background-color: $cMainBG;

        z-index: 1;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    & section.l-content {
        grid-column-start: 2;
        grid-column-end: auto;

        grid-row-start: 2;
        grid-row-end: auto;

        z-index: 1;
    }
}


.p-content-header {
    height: $contentHeaderHeight;
    border-bottom: 1px solid $cContentBorder;
    padding: 16px 16px 8px 20px;
}

.l-header {
    display: block;
    border-bottom: 1px solid #4A254B;

    & .p-header {
        display: block;
        height: 100%;
        width: 100%;
        cursor: pointer;
        text-align: center;

        & button {
            height: 24px;
            width: 40%;
            min-width: 272px;
            max-width: 560px;
            color: $cText;
            border: 1px solid $cBorder;
            border-radius: 6px;
            background-color: $cHeaderSearch;
            padding: 0;
        }
    }
}

.l-sidebar {
    color: $cWhite;
    background-color: $cMainBG;
    min-width: 200px;
    max-width: 260px;
    height: 100vh;
    line-height: 20px;
    color: #CBBFCB;

    & .p-content-header {
        & h2 {
            color: $cWhite;
        }

        & .l-sidebar-username {
            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #2BAC76;
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }

    & .l-sidebar-nav {
        padding: 16px 16px 8px 20px;
        cursor: pointer;
        line-height: 2em;
        border-bottom: 1px solid $cContentBorder;

        & li:hover {
            background-color: $cMainActivate;
        }
    }
}

// .l-content {
//     width: 100%;

//     & .p-content-header {
//         // top: calc(#{$mainHeaderHeight} + 1px);
//         // left: 200px;
//         // right: 0;
//         border-bottom: 1px solid #CBBFCB;
//     }
// }

// .c-channel-name {
//     font-weight: 600;
// }
