a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.c-card {
  background-color: white;
  border: 1px solid #e8e9ea;
  border-radius: 10px;
  width: 327px;
  padding-top: 8px;
}

.c-card .c-card__contents {
  height: 80px;
  position: relative;
}

.c-card .c-card__contents .c-card_content-details {
  margin: 0 32px 0 28px;
}

.c-card .c-card__contents .c-card_content-details .c-card__title {
  font-size: 14px;
  font-weight: 600;
  color: #0366d6;
  line-height: 1.25;
}

.c-card .c-card__contents .c-card_content-details .c-card__title a:visited {
  color: #0366d6;
}

.c-card .c-card__contents .c-card_content-details .c-card__repository_name {
  color: #586069;
  font-size: 12px;
}

.c-card .c-card__contents .c-card_content-details .c-card__repository_name .c-card__user {
  color: black;
  font-size: 12px;
}

.c-card .c-card__contents .c-card_content-details .c-card__repository_name .c-card__user a:visited {
  color: black;
}

.c-card .c-card__contents .c-card__menu {
  color: #6a737d;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 8px;
}

.c-card .c-card__contents .c-card__avator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 8px;
  right: 8px;
  position: absolute;
}

.c-card .c-card__status {
  width: 100%;
  height: 32px;
  color: #586069;
  font-size: 12px;
  border-top: 1px solid #e8e9ea;
  position: relative;
}

.c-card .c-card__status .c-card__status-text {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}
