$cWhite: white;
$cBorder: #e8e9ea;

.c-card {
    background-color: $cWhite;
    border: 1px solid $cBorder;
    height: 115px;
    width: 290px;

    & .c-card__title {
        color: #0366d6;

        & a:visited {
            color: #0366d6;
        }
    }

    & .c-card__repository_name {
        color: #586069;
    }
}
