$cHeader: #350D36;
$cHeaderSearch: #49254A;
$cMainBG: #3f0e40;
$cMainActivate: #350D36;
$cWhite: white;
$cBorder: #edf0f46d;
$cContentBorder: rgb(82,38,83);
$cText: #CBBFCB;

$mainHeaderHeight: 38px;
$contentHeaderHeight: 44px;
$sideBarMinWidth: 200px;
$sideBarMaxWidth: 260px;
