$cMainBG: #ececec;
$cSubBG: #192834;
$cText: #444;
$cFooterLink: #7B8B97;
$cMainBorder: #D6D6D6;

$mainWidth: 1060px;
$headerMinHeight: 75px;

body {
    font-size: 12px;
    color: $cText;
    line-height: 1.5;
    background-color: $cMainBG;
}

ul {
    list-style: none;
}

a:link, a:visited, .link
{
    color: black;
    text-decoration: underline;
    text-decoration-line: underline;
    cursor: pointer;
}

a:hover, .link:hover {
    color: #666;
    text-decoration: none;
    text-decoration-line: none;
}

.btn, a.btn {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0;
    font-size: 12px;
    min-height: 18px;
    text-decoration: none;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
}

.btn_high_priority {
    background: linear-gradient(to bottom,  #c82a16 0%,#c82a16 50%,#a82410 51%,#a82410 100%);
    border: 1px solid #c82a16;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.btn_action, a.btn_action {
    background: linear-gradient(to bottom, #333333 0%,#333333 50%,#000000 51%,#000000 100%);
    border: 1px solid #000;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.btn_default, a.btn_default {
    background: linear-gradient(to bottom, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
    border: 1px solid #b6b6b6;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

a.btn.btn_size_small, .btn.btn_size_small {
    padding: 2px 4px;
    font-size: 11px;
    border-radius: 3px;
}

.form_input_text {
    vertical-align: middle;
    height: 2em;
    line-height: 1em;
    padding: 4px 6px;
    margin: 0;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555555;
    font-size: 1em;
    box-sizing: border-box;
}

.wrapper  {
    width: 100%;
}

.container {
    width: $mainWidth;
    margin: 0 auto;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header {
    border-bottom: 1px solid $cMainBorder;

    & h1 {
        position: absolute;
        top: 5px;
        left: 0;
    }

    & .container {
        position: relative;
        min-height: $headerMinHeight;

        & .header_nav_personal {
            position: absolute;
            right: 0;
            top: 26px;

            & .dropdown_menu {
                cursor: pointer;

                & .image_link img {
                    border: 1px solid #999;
                }

                & ul.dropdown_sub {
                    background-color: lightcyan;
                    z-index: 100;
                    position: absolute;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    background-color: #fff;
                    display: none;

                    & li {
                        width: 135px;
                        height: 35px;

                        & a {
                            display: block;
                            padding: 6px;
                            line-height: 24px;
                            text-indent: 5px;
                            text-decoration: none;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis; /* 長い場合は ... になる */

                            &:hover {
                                background-color: #efefef;
                            }
                        }

                        & + li {
                            border-top: 1px solid #ccc;
                        }
                    }

                    
                }

                & .active {
                    & ul.dropdown_sub {
                        display: block;
                    }
                }
            }
        }
    }
}

.header_nav_owner {
    position: absolute;
    right: 30px;
    top: 24px;
    font-size: 0;

    & .btn {
        width: 100px;

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        & + .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.header_search {
    display: inline-block;
    margin-left: 146px;
    margin-top: 24px;
    font-size: 0;

    & .form_input_text {
        float: left;
        width: 160px;
        height: 2em;
        font-size: 12px;
        margin: 0;
        background-color: #fff;
        border-color: #b6b6b6;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & .btn.btn_size_small {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        height: 2em;
        box-sizing: border-box;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.header_nav_contents {
    position: absolute;
    left: 350px;
    top: 27px;
    font-weight: bold;
    
    & li {
        display: inline;

        & a {
            text-decoration: none;
        }
    }
}